.calculator__row {
    display: inline-flex;
    width: 100%;
    margin-bottom: 4px;
}

/* Put space between all elements */
.calculator__row > * {
    margin-left: 0.7em;
}

.index {
    width: 3.8em;
    margin: 0;
    padding-top: 0.4em;
    text-align: right;
}