/* Grid styles */
.calculator__score {
    grid-area: score;
}

.calculator__rows {
    grid-area: rows;
}

.calculator__errors {
    grid-area: errors;
    overflow: hidden;
}

.calculator {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "score" "routines-btn-row" "errors" "rows";
}

/* If screen greater than <size>, split into 2 columns*/
@media (min-width: 1080px) {
    .calculator {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "score routines-btn-row" "rows errors";
        grid-column-gap: 1em;
    }

    .routine-btn-cont {
        position: relative;
    }
}
/*End grid styles*/

/* General styles */

.routines-btn {
    position: absolute;
    margin: 4px;
    top: 0;
}

.calculator__score {
    font-size: 1.5em;
    text-align: center;
}

.routines-level__row{
    /*overflow: hidden;*/
}
.routines-level__scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
}

.errors {
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 2px 8px;
}

.highlight-red,
.highlight-red .Select-control {
    border-color: red;
}

.highlight-red.is-focused .Select-control {
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(255, 0, 0, 0.1);
}

.highlight-orange {
    border-color: darkorange;
}


