.fig-notation {
    color: #464a4c;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25em;
    background-color: #fff;

    position: relative;
    display: inline-flex;
}


.fig-notation > span:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, .15);
}

/* Make the saltos section bigger */
.fig-notation > span:nth-child(2) {
    min-width: 2em;
}

.fig-notation > span {
    padding: .5em .3em;
    min-width: 1.3em;
    text-align: center;
    white-space: nowrap;
}
